In [1]:
import psycopg2 
import pandas as pd

conn = psycopg2.connect(database= 'detfishrdogthm', 
                        user = 'odzzbmwmjpdlsd',
                        password= 'e80768d726ed05269521853bbd7610e22ba26e7e3d3179cd5692aa2d7a4b7e35',
                        host = 'ec2-54-157-16-196.compute-1.amazonaws.com',
                        port = 5432)

cursor = conn.cursor()
df = pd.read_sql('SELECT * FROM Movies', conn)
df
conn.close()

/home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [2]:
df

  id            title  rating
0  1        Toy Story       5
1  2      Toy Story 2       5
2  3      Toy Story 3       3
3  4  Harry Potters 1       5